* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

header {
  display: flex;
  height: 8vh;
  width: 100%;
  margin: auto;
  align-items: center;
  background-color: black;
}

body {
  min-height: 300vh;
}

main {
  border-bottom: 1px solid gray;
}

.logo {
  flex: 2;
}
.logo a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  background: linear-gradient(to right, yellow, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  flex: 1;
}

.nav-links {
  justify-content: space-around;
  flex: 1;
  display: flex;
}
.nav-links {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: white;
  transition: 0.6s;
  border-bottom: 1px solid transparent;
  background: linear-gradient(to right, yellow, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}

.introduction {
  background-image: url(./imgs/introduction-background.jpg);
  background-size: cover;
  height: 92vh;
  color: white;
  display: flex;
  align-items: center;
  padding-top: 17.5vh;
  flex-direction: column;
  font-size: 3vw;
}

.introduction span {
  background: linear-gradient(to right, lightblue, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro-down {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* color: white; */
  /* color: rgb(2, 151, 151); */
  background-color: black;
  width: 100%;
  height: 8vh;
  bottom: 0px;
  cursor: pointer;
  margin: auto;
  color: lightpink;
}
#intro-down:hover {
  background-color: rgb(29, 29, 29);
}

#about-me {
  height: 93vh;
  background-color: black;
  width: 100%;
  margin: auto auto 0 auto;
  display: flex;
  color: white;
  padding: 2.5vw 2.5vw 0 2.5vw;
}
#about-me h1 {
  background: linear-gradient(to right, crimson, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text {
  flex: 1;
  font-size: 3.5vh;
}
.about-text p {
  margin-top: 4vh;
  padding-right: 9vw;
}
.about-image {
  flex: 1;
  align-items: center;
  margin: auto;
  background-color: rgb(0, 0, 0);
}
.about-image img {
  /* height: 100vh; */
  width: 48vw;
}

#arrow-img {
  display: flex;
  background: black;
  justify-content: center;
  padding-bottom: 0vh;
  cursor: pointer;
}
#arrow-img img {
  transform: rotate(90deg);
  height: 20vh;
}
.skills-menu {
  min-height: 90vh;
  background-color: black;
  color: white;
  padding: 5vh 2.5vw 1vh 2.5vw;
  font-size: 3.5vh;
}

.skills-menu h1 {
  background: linear-gradient(to right, crimson, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills-menu h3 {
  background: linear-gradient(to right, crimson, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-bottom: 4vh;
}
.skills-flex {
  display: flex;
  padding-top: 6vh;
}

.skill-lang {
  flex: 1;
}
.skill-stack {
  flex: 1;
}

.skill-list {
  list-style: none;
}
.skill-list img {
  vertical-align: middle;
  margin-left: 0.4vw;
  margin-right: 1vw;
}
.skills-flex li {
  padding-bottom: 3vh;
  padding-left: 8vh;
}

.see-projects {
  margin: 13vh auto;
  margin-bottom: 5vh;
  width: 90%;
  text-align: center;
  padding: 3vh 3vh 3vh 3vh;
  cursor: pointer;
  border: 1px solid white;
  transition: ease-out 0.3s;
}
.see-projects:hover {
  background: rgb(49, 49, 49);
  transform: scale(1.02);
  box-shadow: 0 0 5px 5px rgba(245, 245, 245, 0.87);
}
.see-projects span {
  background: linear-gradient(to right, yellow, lightblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contact {
  min-height: 91.7vh;
  background-color:black;
  padding: 3vh 2.5vw 1vh 2.5vw;
  font-size: 3.5vh;
  color: white;
  display: flex;
}
.contact-form-flex{
  display: flex;
  flex-direction: column;
  flex: 1;  
}
.form-flex{
  margin: 4vh auto 0 auto;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
  height: 60vh;
  
}
.social-flex{
  flex: 1;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social-links{
  margin-left: 8.5vw;
  width: 20vw;
  cursor: pointer;
}
.social-links h4{
  transition: 0.5s;
  color: crimson;
}
.social-links:hover h4{
  
  transform: translateX(60%);
  
}

#contact h1 {
  background: linear-gradient(to right, crimson, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 3vh;
  
}

input{
    font-size: 2.5vh;
    
    padding: 1vh;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 2vh;
}
textarea{
    font-size: 2.5vh;
    padding: 1vh;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    
}

#contact-submit{
    color: white;
    border: 1px solid white;
    background: black;
    cursor: pointer;
    font-size: 3vh;
    padding:1vh 2vh 1vh 2vh;
    background: linear-gradient(to right, violet, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.8s;

}
#contact-submit:hover{
  transform: scale(1.08);
}
footer {
  color: white;
  background-color: black;
  width: 100%;
  height: 8vh;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vh;
  cursor: pointer;
    transition: 0.3s;
}
footer span{
    background: linear-gradient(to right, yellow, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer:hover{
    background: rgb(31, 27, 27);
}

.thank-you-page {
  min-height: 100vh;
  background-color: black;
  color: white;
  padding: 3vh 2.5vw 1vh 2.5vw;
  font-size: 3.5vh;
}
.thank-you-page h1 {
  background: linear-gradient(to right, crimson, rgb(221, 162, 174));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20vh;
}
.thank-you-page h3 {
  background: linear-gradient(to right, crimson, rgb(221, 162, 174));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-bottom: 4vh;
}

.thank-you-back {
  border: 1px solid crimson;
  color: white;
  text-decoration: none;
  width: 80%;
  text-align: center;
  padding: 3vh 0 3vh 0;
  margin-top: 20vh;
  transition: 0.5s;
}
.thank-you-back span {
  background: linear-gradient(to right, rgb(214, 121, 140), rgb(207, 179, 184));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thank-you-back:hover {
  box-shadow: 0 0 5px 5px crimson;
}
