* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
 
}

::-webkit-scrollbar {
  width: 0;
}

header {
  display: flex;
  height: 8vh;
  width: 100%;
  margin: auto;
  align-items: center;
  background-color: black;
  justify-content: space-between;
  font-size: 2.7vh;
}

body {
  min-height: 300vh;
  margin: 0 auto; 
}

main {
  border-bottom: 1px solid gray;
}

.logo a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  background: linear-gradient(to right, yellow, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.nav-links {
  justify-content: space-around;
  flex: 1;
  display: flex;
  list-style: none;

}

.nav-link {
  margin:0 4vw;
  margin-right: 3vw;
  text-decoration: none;
  color: white;
  /* transition: 0.6s; */
  border-bottom: 1px solid transparent;
  background: linear-gradient(to right, yellow, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* transition: 1s; */
}

.introduction {
  background-image: url(./imgs/introduction-background.jpg);
  background-size: cover;
  min-height: 84vh;
  color: white;
  display: flex;
  align-items: center;
  padding-top: 17.5vh;
  flex-direction: column;
  font-size: 3vw;
}

.introduction span {
  background: linear-gradient(to right, lightblue, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro-down {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 8vh;
  cursor: pointer;
  margin: auto;
  color: lightpink;
  font-size: 3vw;
  overflow: hidden;
}
#intro-down:hover {
  background-color: rgb(29, 29, 29);
}

#about-me {
  min-height: 93vh;
  background-color: black;
  width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  color: white;
  padding: 2.5vw 2.5vw 0 2.5vw;
}
#about-me h1 {
  background: linear-gradient(to right, crimson, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text {
  flex: 1;
  font-size: 1.6vw;
}

.about-text p {
  margin-top: 4vh;
  padding-right: 9vw;
  
}
.about-image {
  flex: 1;
  align-items: center;
  margin: auto;
  background-color: rgb(0, 0, 0);
}
.about-image img {
  /* height: 100vh; */
  width: 48vw;
}

#arrow-img {
  display: flex;
  background: black;
  justify-content: center;
  padding-bottom: 0vh;
  cursor: pointer;
}
#arrow-img img {
  transform: rotate(90deg);
  height: 20vh;
}
.skills-menu {
  min-height: 90vh;
  background-color: black;
  color: white;
  padding: 5vh 2.5vw 1vh 2.5vw;
  font-size: 3.5vh;
}

.skills-menu h1 {
  background: linear-gradient(to right, crimson, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.skills-menu h3 {
  background: linear-gradient(to right, crimson, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-bottom: 4vh;
}
.skills-flex {
  display: flex;
  padding-top: 6vh;
}

.skill-lang {
  flex: 1;
}
.skill-stack {
  flex: 1;
}

.skill-list {
  list-style: none;
}
.skill-list img {
  vertical-align: middle;
  margin-left: 0.4vw;
  margin-right: 1vw;
}
.skills-flex li {
  padding-bottom: 3vh;
  margin-left: 8vh;
}

.see-projects {
  margin: 13vh auto;
  margin-bottom: 5vh;
  width: 90%;
  text-align: center;
  padding: 3vh 3vh 3vh 3vh;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.781);
  transition: ease-out 0.3s;
    border-radius: 8px;

}
.see-projects:hover {
  background: rgb(49, 49, 49);
  transform: scale(1.02);
  box-shadow: 0 0 1px 1px rgba(245, 245, 245, 0.87);
}
.see-projects span {
  background: linear-gradient(to right, yellow, lightblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contact {
  min-height: 90.5vh;
  background-color:black;
  padding: 3vh 2.5vw 1vh 2.5vw;
  font-size: 3.5vh;
  color: white;
  display: flex;
}
.contact-form-flex{
  display: flex;
  flex-direction: column;
  flex: 1;  
}
.form-flex{
  margin: 4vh auto 0 auto;
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
  height: 60vh;
  width: 60%;
}
.social-flex{
  flex: 1;
  
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social-links{
  margin-left: 8.5vw;
  /* background: chartreuse; */
  width: 50%;
  cursor: pointer;
}
.social-links h4{
  transition: 0.5s;
  background: linear-gradient(to right, rgb(238, 57, 93), rgb(214, 160, 171));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
  
}
.social-links:hover h4{
  
  transform: translateX(50%);
  
}

#contact h1 {
  background: linear-gradient(to right, crimson, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 3vh;
  
}

input{
    
    font-size: 2.5vh;
    padding: 1vh;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 2vh;
}
textarea{
    font-size: 2.5vh;
    padding: 1vh;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 0;
}

#contact-submit{
    color: white;
    border: 1px solid white;
    background: black;
    cursor: pointer;
    font-size: 3vh;
    padding:1vh 2vh 1vh 2vh;
    background: linear-gradient(to right, violet, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.8s;
  margin-top: 4vh;

}
#contact-submit:hover{
  transform: scale(1.08);
}
footer {
  color: white;
  background-color: black;
  
  min-height: 9vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vh;
  cursor: pointer;
    transition: 0.3s;
}
footer span{
    background: linear-gradient(to right, yellow, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer:hover{
    background: rgb(31, 27, 27);
}

.thank-you-page {
  min-height: 100vh;
  background-color: black;
  color: white;
  padding: 3vh 2.5vw 1vh 2.5vw;
  font-size: 3.5vh;
}
.thank-you-page h1 {
  background: linear-gradient(to right, crimson, rgb(221, 162, 174));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20vh;
}
.thank-you-page h3 {
  background: linear-gradient(to right, crimson, rgb(221, 162, 174));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding-bottom: 4vh;
}

.thank-you-back {
  border: 1px solid crimson;
  color: white;
  text-decoration: none;
  width: 80%;
  text-align: center;
  padding: 3vh 0 3vh 0;
  margin-top: 20vh;
  transition: 0.5s;
}
.thank-you-back span {
  background: linear-gradient(to right, rgb(214, 121, 140), rgb(207, 179, 184));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thank-you-back:hover {
  box-shadow: 0 0 5px 5px crimson;
}

.project-page{
  color: aliceblue;
  background-color: black;
  /* background-image: url(./imgs/introduction-background.jpg); */
  font-size: 3.5vh;
  min-height: 100vh;
}
.back-to-home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  background-color: black;
  cursor: pointer;
  border-bottom: 1px solid gray;
  transition: 0.3s;
}
.back-to-home:hover{
  background-color: rgb(36, 34, 34);
}
.back-to-home span{
  /* background: linear-gradient(to right, crimson, white); */
  background: linear-gradient(to right, yellow, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-page h1{
  padding: 3vh 2.5vw 1vh 2.5vw;
  background: linear-gradient(to right, crimson, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects-flex{
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
  min-height: 77.5vh;
  /* justify-content: center; */
}
.project-list-item{
  /* background-color: blueviolet; */
  width: 60vw;
  margin: 12vh 2.5vw 0vh 13vw;
  cursor: pointer;
}
.project-list-item:hover h4{
  transform:translateX(23%)
}

.project-list-item h4{
  font-size: 5vw;
  background: linear-gradient(to right, rgb(238, 57, 93), rgb(214, 160, 171));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.7s;
}









@media all and (max-width:1250px){
  .about-text{
    font-size: 130%;
  }
}

@media all and (max-width:890px){
    #contact{
      flex-direction: column;
    }
    .social-flex{
      margin: 10vh auto;
    }
    .social-links{
      margin-left: 0vw;
      width: 100%;
    }
    .social-links:hover h4{
      transform: translateX(20%);
    }
    #about-me{
      flex-direction: column;
    }
    .about-text{
      flex:2;
      font-size: 120%;
    }
    
}

@media all and (max-width:530px){
  header{
    font-size: 3.2vw;
  }
  .introduction{
    font-size: 7vw;
  min-height: 82vh;

  }
  .about-text{
    font-size: 90%;
    flex:initial;
  }
  .about-image{
    flex:initial;

  }
  .about-image img{
    width: 80vw;
  }
  /* .about-image{
    display: none;
  } */
  .skills-menu{
    padding-top: 1vh;
  }
  .skills-menu h1{
    font-size: 5vh;
  }
  .contact-form-flex h1{
    font-size: 5vh;
  }
  #contact{
    padding-top: 1vh;
  }
  .social-flex{
      margin-top: 4vh;
    }
  .social-links{
    font-size: 6vw;
  }
  .form-flex{
    width: 70%;
  }
  .skills-flex{
    flex-direction: column;
    font-size: 5vw;
  }
  .skills-flex li{
    margin-left: 5vw;
  }

  .skill-stack{
    margin-top: 5vh;
  }
  .see-projects{
    margin-top: 5vh;
    padding: 2vw;
  }

  footer{
    font-size: 5vw;
    min-height:7vh ;
  }

}